extends ../layout

block content
  head
    title= title
    //- link(rel='stylesheet' href='/stylesheets/style.css')
    
    
    link(rel='stylesheet' href="/stylesheets/chat.css")
    link(rel='stylesheet' href="/stylesheets/requestPopup.css")
    link(rel='stylesheet' href="/stylesheets/acceptPopup.css")

  body
    //- include ../clientHeader.pug
    include chat/chat.pug
    include approval/requestApproval.pug
    include approval/acceptApproval.pug
    
    script(src="javascripts/bundle.js")
    script(type='text/javascript' src='/javascripts/popup.js')