doctype html
html
  head
    title= title
    //- link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/bootstrapCss/bootstrap.min.css')
    
    link(rel='stylesheet' href="/stylesheets/chat.css")
    link(rel='stylesheet' href="/stylesheets/requestPopup.css")
    link(rel='stylesheet' href="/stylesheets/acceptPopup.css")
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css' type='text/css' rel='stylesheet')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW' crossorigin='anonymous')
  body
    include ../clientHeader.pug
    include chat/chat.pug
    include approval/requestApproval.pug
    include approval/acceptApproval.pug
    
    script(type='text/javascript' src='/javascripts/popup.js')