extends layout

block content
  head
        
    link(rel='stylesheet' href='stylesheets/product.css')
    link(rel='stylesheet' href='stylesheets/category.css')
    link(rel='stylesheet' href="/stylesheets/style.css")
    
  body
    .container
      .row
        .category-computer
          section.category-image(style='background-image:url(https://i.postimg.cc/RCRw3ZNK/mutimedia-Final.jpg);')
            .contents
              .text
                if title=='design'
                  h1 디자인
                else if title=='develop'
                  h1 IT/프로그래밍
                else if title=='multimedia'
                  h1 &#xBA40;&#xD2F0;&#xBBF8;&#xB514;&#xC5B4;
                p &#xC9C0;&#xAE08; MJ mong&#xACFC; &#xD568;&#xAED8; &#xC2DC;&#xC791;&#xD574;&#xBCF4;&#xC138;&#xC694;
              //- .input-group.mb-4.border.rounded-pill.p-1
              .container
                .row
                  .col
                  .col
                    .input-group.mb-4.border.p-1
                      //
                        <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon3"
                        class="form-control bg-none border-0">
                      input.form-control.border-0.bg-light(type='search' placeholder='무엇을 찾고 있나요?' aria-describedby='button-addon1')
                      .input-group-append.border-0
                        button#button-addon3.btn.btn-link.text-success(type='button')
                          i#icon.fa.fa-search
                  .col
      //- .row
      //-   br
      .row.icons.p-3
        .col
        .col.text-center
          a(href="/category?title=design")
            img(src='images/design.svg' alt='디자인' width='50px' height='50px')
            br
            | 디자인
        .col.text-center
          a(href="/category?title=develop")
            img(src='images/develop.svg' alt='개발' width='50px' height='50px')
            br
            | IT/프로그래밍
        .col.text-center
          a(href="/category?title=multimedia")
            img(src='images/multimedia.svg' alt='멀티미디어' width='50px' height='50px')
            br
            | 멀티미디어
        .col
        .col
      //- .row
      //-   br
      .row
        link(rel="stylesheet", href="/stylesheets/categoryElement.css")

        - for(var i=0; i<10; i++)
          //- if i%3 == 0
          //-   .col-1

          include categoryElement.pug