//- .col-sm-6.col-md-4
//-   .thumbnail
//-     img#item-image(src='/images/201992.jpg' alt='...')
//-     .caption
//-       br
//-       br
//-       h3 productTitle
//-       p productExplain
//-       p
//-         a#btn.btn.btn-primary(href='#' role='button') &#xC790;&#xC138;&#xD788; &#xBCF4;&#xAE30;

.col-sm-6.col-md-4.p-1
  a(href='/serviceInfo' )
    //- .card(style='width: 18rem;')
    .card(style='width: 14rem;')
      img.card-img-top(src='/images/201992.jpg' alt='...')
      .card-body
        h5.card-title productTitle
        p.card-text
          | productExplain
  //- .col-1