script.
  console.log(true)
header.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm
  p.h5.my-0.me-md-auto.fw-normal
    img#mjmong_logo(src="images/mjmong_logo.jpg" alt="mjmong_logo" style="position: relative; top: -5px; width: 50px; height: 50px;")
    | Mong
  nav.my-2.my-md-0.me-md-3
    a.p-2.text-dark(href='#') &#xCE74;&#xD14C;&#xACE0;&#xB9AC;
    a.p-2.text-dark(href='/progressLayout') &#xAD6C;&#xB9E4;&#xC9C4;&#xD589; &#xC0C1;&#xD488;
    a.p-2.text-dark(href='#') &#xAD6C;&#xB9E4;&#xC644;&#xB8CC; &#xC0C1;&#xD488;
  a.btn.btn-outline-success(href='/authLayout?title=login') Log in