extends layout

block content
  link(rel="stylesheet" type="text/css" href="/stylesheets/review.css")
  
  script(src="/javascripts/star.js")
  .container
    table.table
      thead
        tr
          th(scope="col") 상품명
          th(scope="col") 판매자
          th(scope="col") 거래완료시간
          th(scope="col") 리뷰작성
      tbody
        - for(var i=0; i<5; i++)
          include completeElement.pug
  script.
    function handleClick() {
      console.log(true);
    }
    const review = document.querySelector("#btn-review");
    review.addEventListener("click", handleClick);
    console.log(review);
