tr
  th(scope="row") 고양이사진
  td sam
  td 2021/01/19
  td 
    button#btn-review.btn.btn-primary(type="button" data-bs-toggle="collapse" data-bs-target="#demo" aria-expanded="false" aria-controls="demo")
      | 리뷰 작성하기
tr
  include reviewForm.pug