doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/bootstrapCss/bootstrap.min.css')

    //- link(rel='stylesheet' href="/stylesheets/popup.css")
  body
    block content