<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
  <h2>
    딱! 맞는 전문가를 <br>소개해드립니다
  </h2>
  <div class="input-group mb-4 border rounded-pill p-1">
    <!-- <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon3"
      class="form-control bg-none border-0"> -->
    <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1"
      class="form-control border-0 bg-light">
    <div class="input-group-append border-0">
      <button id="button-addon3" type="button" class="btn btn-link text-success"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <div><button><i class="fas fa-tv"></i></button><button><i class="fas fa-photo-video"></i></button><button><i class="far fa-edit"></i></button></div>
</body>

</html>