<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <style>
      .icons {
        margin-left: 10%;
        border-radius: 10%;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h2>딱! 맞는 전문가를 <br />소개해드립니다</h2>
          <div class="container">
            <div class="input-group mb-4 border rounded-pill p-1">
              <!-- <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon3"
              class="form-control bg-none border-0"> -->
              <input
                type="search"
                placeholder="What're you searching for?"
                aria-describedby="button-addon1"
                class="form-control border-0 bg-light"
              />
              <div class="input-group-append border-0">
                <button
                  id="button-addon3"
                  type="button"
                  class="btn btn-link text-success"
                >
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
            <div class="row icons">
              <div class="col-sm">
                <img
                  src="../public/images/design.svg"
                  alt="디자인"
                  width="50px"
                  height="50px"
                />
              </div>
              <div class="col-sm">
                <img
                  src="../public/images/develop.svg"
                  alt="개발"
                  width="50px"
                  height="50px"
                />
              </div>
              <div class="col-sm">
                <img
                  src="../public/images/multimedia.svg"
                  alt="멀티미디어"
                  width="50px"
                  height="50px"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div
            id="carouselExampleSlidesOnly"
            class="carousel slide carousel-fade"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="../public/images/mainBg1.jpg"
                  class="d-block w-100"
                  data-bs-interval="2000"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../public/images/mainBg2.jpg"
                  class="d-block w-100"
                  data-bs-interval="2000"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../public/images/mainBg3.jpg"
                  class="d-block w-100"
                  data-bs-interval="2000"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
