extends layout

block content
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    style.
      .icons {
      margin-left: 10%;
      border-radius: 10%;
      }
  body
    br
    br
    br
    br
    .container
      .row
        .col-sm
          h2
            | &#xB531;! &#xB9DE;&#xB294; &#xC804;&#xBB38;&#xAC00;&#xB97C; 
            br
            | &#xC18C;&#xAC1C;&#xD574;&#xB4DC;&#xB9BD;&#xB2C8;&#xB2E4;.
            br
            br
          .container
            .input-group.mb-4.border.rounded-pill.p-1
              //
                <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon3"
                class="form-control bg-none border-0">
              input.form-control.border-0.bg-light(type='search' placeholder="What're you searching for?" aria-describedby='button-addon1')
              .input-group-append.border-0
                button#button-addon3.btn.btn-link.text-success(type='button')
                  i.fa.fa-search
            //- .row.icons
            .row
              .col-sm.text-center
                a(href="/category?title=design")
                  img(src='images/design.svg' alt='디자인' width='50px' height='50px')
                  br
                  | 디자인
              .col-sm.text-center
                a(href="/category?title=develop")
                  img(src='images/develop.svg' alt='개발' width='50px' height='50px')
                  br
                  | IT/프로그래밍
              .col-sm.text-center
                a(href="/category?title=multimedia")
                  img(src='images/multimedia.svg' alt='멀티미디어' width='50px' height='50px')
                  br
                  | 멀티미디어
              //- .col-sm
        .col-sm
          #carouselExampleSlidesOnly.carousel.slide.carousel-fade(data-bs-ride='carousel')
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src='images/mainBg1.jpg' data-bs-interval='2000' alt='...')
              .carousel-item
                img.d-block.w-100(src='images/mainBg2.jpg' data-bs-interval='2000' alt='...')
              .carousel-item
                img.d-block.w-100(src='images/mainBg3.jpg' data-bs-interval='2000' alt='...')
