<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>결제 수락</title>
    <link rel="stylesheet" href="agree.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>

  <body>
    <div>
      <br>
    </div>

    <div class="request_table table">
      <table>
        <tbody>
          <tr>
            <td>주문번호</td><td>?</td>
          </tr>
          <tr>
            <td>내용</td><td>?</td>
          </tr>
          <tr>
            <td>수신일</td>
            <td>
              <div class="what_time">
                <h4>수신일(시간)</h4>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <script src="getTime.js"></script>


  </body>
</html>
