.container
  p
    button#btn-review.btn.btn-primary(type='button' data-bs-toggle='collapse' data-bs-target='#demo' aria-expanded='false' aria-controls='demo')
      | &#xB9AC;&#xBDF0; &#xC791;&#xC131;&#xD558;&#xAE30;
  #demo.collapse
    h2 &#xBCC4;&#xC810;&#xC8FC;&#xAE30;
    .make_star
      select#makeStar(name='')
        option(value='1') 1
        option(value='2') 2
        option(value='3') 3
        option(value='4') 4
        option(value='5') 5
      .rating(data-rate='3')
        i.fas.fa-star
        i.fas.fa-star
        i.fas.fa-star
        i.fas.fa-star
        i.fas.fa-star
    hr.line
    .main
      .main_1.main_common &#xC774;&#xBC88; &#xC8FC;&#xBB38; &#xAC74; &#xB9CC;&#xC871;&#xD588;&#xC2B5;&#xB2C8;&#xB2E4;.
    .last
      a#btn-ok.btn.btn-primary(href='#' role='button') &#xD655;&#xC778;
//- // 임시
script.
  function handleClick() {
  console.log(true);
  }
  const btn = document.querySelector("button");
  btn.addEventListener("click", handleClick);
  console.log(btn);