html
  head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="../javascripts/star.js")
  body
    .container
      .review
        span 이모씨
        .rating(data-rate="3")
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
          i.fas.fa-star
      br
      .main_1.main_common 이번 주문 건 만족했습니다. 다음에도 또 부탁드려요
      br