doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="/stylesheets/store.css")

    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
  body
    .card.mt-50.mb-50
      .card-title.mx-auto Store
      .nav
        ul.mx-auto
          li.active
            a(href="#") Coin 입금
          li
            a(href="#") Coin 출금
      form
        span#card-header 입금하기
        .row.row-1
          .col
            img.img-fluid(src="images/mjmong_logo.jpg")
          .col-7
            input(type="number" placeholder="금액입력" style="text-align: right")
          .col-3.d-flex
            .token_unit MJC
        span#card-header 결제정보
        .container
          .row
            .col-sm
              div Subtotal
              div Shipping
            .col-sm
            .col-sm
            .col-sm
            .col-sm
              .font-weight-bold.t 8 MJC
              .font-weight-bold 1 MJC
          hr
          .row
            .col-sm
              div Total
            .col-sm
            .col-sm
            .col-sm
            .col-sm.text-right
              .font-weight-bold 9 MJC
        button.btn.d-flex.mx-auto
          b 입금 요청
