body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.6;
  color: #212529;
  height: 50;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
section {
  width: 1200px;
  height: 180px;
}

.text {
  text-align: center;
  color: white;
}
.input-group.mb-4.border.rounded-pill.p-1 {
  margin-left: 30%;
  width: 40%;
}

.input-group-append.border-0 {
  width: 10%;
}
.icons {
  margin-left: 10%;
  border-radius: 10%;
}
#mjmong_logo {
  width: 30%;
}
