h3 {
  text-align: center;
}

h6 {
  text-align: center;
  margin-bottom: 0;
}

a {
  color: blue;
}

div.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-size {
  font-size: 12px;
  text-align: center;
  margin-bottom: 0;
}

a.log {
  display: block;
  text-decoration: none;
  color: gray;
  border: 1px solid black;
  text-align: center;
  border-radius: 2px;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
}

span.or-text {
  text-align: center;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  color: #fff;
  background-color: rgb(66, 110, 233);
  border-color: rgb(66, 110, 233);
}

input.btn.btn-primary.form-control {
  margin-top: 7px;
  margin-bottom: 7px;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input.btn.btn-primary.form-control {
  border-color: #efefef;
  background-color: #efefef;
  color: #3a3a3a;
}
input.btn.btn-primary.form-control:hover {
  color: #fff;
  background-color: #83dcb7;
  border-color: #83dcb7;
}
