
.modal
  .modal-content
    span.close-button.accept_close_btn &times;
    h1.title 받은 메세지
    #acceptApproval
      //- button.file-download(type='button')
      //-   i.fa.fa-download(aria-hidden='true')
      //- .wrapper
      //-   div
      //-     label(for='number') 합의횟수
      //-   div(style='padding-top: 16px;') lsafhoas
      //-   div
      //-     label(for='messages') 내용
      //-   div(style='padding-top: 16px;') asdfasdf
      //-   div
      //-     label(for='date') 수신일
      //-   div(style='padding-top: 16px;') asdfasdfas

      //- //- #ok -> .ok
      //- input.ok(type='button' value='수락')
      //- input.cancel(type='button' value='거절')