
.modal
  .modal-content
    span.close-button.accept_close_btn &times;
    h1.title 받은 메세지
    #acceptApproval
      button.file-download(type='button' onclick="location.href='/jpgdownload/QmRtpnAL2JLfwTcpqXm1p1hrp6YobykLbfa37juqw6jMr2'")
        i.fa.fa-download(aria-hidden='true')
      .wrapper
        div
          label(for='number') 합의횟수
        div(style='padding-top: 16px;') lsafhoas
        div
          label(for='messages') 내용
        div(style='padding-top: 16px;') asdfasdf
        div
          label(for='date') 수신일
        div(style='padding-top: 16px;') asdfasdfas

      //- #ok -> .ok
      input.ok(type='button' value='수락')
      input.cancel(type='button' value='거절')


//- - function load(){
//-   var xhttp = new XMLHttpRequest();

//-   xhttp.open("GET", "/jpgdownload/QmRtpnAL2JLfwTcpqXm1p1hrp6YobykLbfa37juqw6jMr2", true);
//-   xhttp.send();
//- }
