.modal
  .modal-content
    span.close-button.accept_close_btn &times;
    h1.title &#xBC1B;&#xC740; &#xBA54;&#xC138;&#xC9C0;
    form.accept(action='#post.php' method='POST')
      button.file-download(type='button')
        i.fa.fa-download(aria-hidden='true')
      .wrapper
        div
          label(for='number') &#xC8FC;&#xBB38;&#xBC88;&#xD638;
        div(style='padding-top: 16px;') lsafhoas
        div
          label(for='messages') &#xB0B4;&#xC6A9;
        div(style='padding-top: 16px;') asdfasdf
        div
          label(for='date') &#xC218;&#xC2E0;&#xC77C;
        div(style='padding-top: 16px;') asdfasdfas

      //- #ok -> .ok
      input.ok(type='button' value='수락')
      input.cancel(type='button' value='거절')