.incoming_msg
  .incoming_msg_img
    img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
  .received_msg
    #incomingMsg.received_withd_msg
      //- p
      //-   | Test which is a new approach to have all
      //-   | solutions
      //- span.time_date  11:01 AM | June 9