.incoming_msg
  .incoming_msg_img
    img(src='https://ptetutorials.com/images/user-profile.png' alt='sunil')
  .received_msg
    .received_withd_msg
      p 
        | 고객님 상품의 제작 잔행을 위해
        br
        | 작업 승인을 부탁드립니다.
        br
        button.btn.btn-success.trigger(type="button") 자세히 보기
      span.time_date  11:01 AM | June 9